<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carhelper.fullscreen"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="30" />

    <application
        android:label="车机助手·一键全屏"
        android:allowBackup="false"
        android:supportsRtl="false">
        <activity
            android:name="com.carhelper.fullscreen.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
